@import './../styles/base/_settings.scss';

  form#footer__contactForm {
    width: 50%;
    float: right;
  
    @media screen and (max-width: $desktop-breakpoint) {
      width: 100%;
      display: inline-block;
    }

    > div, > button {
      display: block;
      width: 90%;
    }

    > div {
      > label{
        font-size: $m-size;
        color: white;
    
        @media screen and (max-width: $desktop-breakpoint) {
          color: green;
        }
      }

      textarea {
        height: 15rem;
      }
    }
  }
 
